.menu-certificado {
  max-width: 800px;
}

.btn-voltar {
  gap: 6px;
}

.btn-voltar p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748B;
}

.btn-voltar i {
  font-size: 20;
  color: #64748B;
}

.certificado {
  margin-top: 32px;
  background-image: url(../../../../public/certificate/certificate_BG.png);
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  position: absolute;
}

.conteudo-certificado {
  width: 720px;
  height: 470px;
  background-color: #FFF;
  border-radius: 8px;
}

.icone-medalha {
  position: absolute;
  top: 12px;
  left: 12px;
}
